h1 {
    text-align: center;
    color: #294860;
}
body {
    font-family: Helvetica;
}
.lecture {
    background-color: #614537;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.container {
    display: flex;
}

h2 {
    margin: 10px;
}
.concept {
    background-color: #BCC724;
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
    color: black;
    width: 600px;
}
.concept-title {
    font-size: 20px;
    margin: 8px;
    text-align: center;
    color: #294860;
}
.concept-description {
    font-weight: lighter;
    margin: 6px;
}

.image {
    -webkit-box-sizing: border box;
    -moz-box-sizing: border box;
    -ms-box-sizing: border box;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}